<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Счет ${account.id}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1>Счет ${account.id}</h1>
<a href="/person/personal-area">Начальная страница</a> |
<a href="/account/find-all-accounts">Назад</a>
<br/><br/>
<#if account??>
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td>${account.id}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>:</td>
            <td>${account.title}</td>
        </tr>
        <tr>
            <td>Баланс</td>
            <td>:</td>
            <td>${account.amountMoney}</td>
        </tr>
    </table>
    <br/><br/>
        <div>
            <a href="${'/account/' + account.id + '/edit'}">Edit</a> |
            <a href="${'/account/' + account.id + '/delete'}">Delete</a>
        </div>
</#if>
</body>
</html>