<!DOCTYPE HTML>
<#import "/spring.ftl" as spring/>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Счета</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<a href="/person/personal-area">Начальная страница</a> |
<a href="/account/find-all-accounts">Назад</a>
<br/><br/>

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <form action="/account/create-account" method="post" title="Новый счет">
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    <@spring.formInput "form.title" "class=\"form-control\" id=\"inputTitle\" placeholder=\"Title \"" "title"/>
                    <@spring.showErrors "<br>"/>
                </div>
                <div class="form-group">
                    <label for="inputBalance">Balance</label>
                    <@spring.formInput "form.amountMoney" "class=\"form-control\" id=\"inputBalance\" placeholder=\"Balance\"" "balance"/>
                    <@spring.showErrors "<br>"/>
                </div>
                <button type="submit" class="btn btn-primary">Создать</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<br/>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>