<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Edit a Account</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<h1>Изменить счет</h1>
<a href="/person/personal-area">Начальная страница</a> |
<a href="/account/find-all-accounts">Назад</a>
<br/><br/>

<#assign urlAction>${'/account/' + account.id + '/edit'}</#assign>
<#assign submitTitle>Изменить</#assign>

<form action="${urlAction}" name="account" method="POST">
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td>${account.id}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>:</td>
            <td><input type="text" name="title" value="${account.title}"/></td>
        </tr>
        <tr>
            <td>Баланс</td>
            <td>:</td>
            <td>${account.amountMoney}</td>
        </tr>
    </table>
    <input type="submit" value="${submitTitle}"/>
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<#if errorMessage?has_content>
    <div class="error">${errorMessage}</div>
</#if>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>