<!DOCTYPE HTML>
<#import "/spring.ftl" as spring/>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Транзакция</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<a href="/person/personal-area">Начальная страница</a>
<br/><br/>

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">

            <form action="/transaction/create-transaction" method="post" title="Транзакция:">

                <div class="form-group">
                    <label for="inputFromAccountId">Счет списания</label>
                    <select class="form-control" id="inputFromAccountId" name="fromAccountId">
                        <#list accounts as account>
                            <option value="${account.id}">${account.id}, ${account.title}
                                , ${account.amountMoney}</option>
                        </#list>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputToAccountId">Счет зачисления</label>
                    <select class="form-control" id="inputToAccountId" name="toAccountId">
                        <#list accounts as account>
                            <option value="${account.id}">${account.id}, ${account.title}
                                , ${account.amountMoney}</option>
                        </#list>
                    </select>
                </div>

                <div class="form-group">
                    <#list categories as category>
                        <p>
                            <label>
                                <input type="checkbox" value="${category.id}" checked name="categoriesId"/>
                                ${category.title}
                            </label>
                        </p>
                    </#list>
                </div>

                <div class="form-group">
                    <label for="inputTransactionSum">Сумма</label>
                    <@spring.formInput "form.transactionSum" "class=\"form-control\" id=\"inputTransactionSum\" placeholder=\"TransactionSum\"" "Sum"/>
                    <@spring.showErrors "<br>"/>
                </div>


                <button type="submit" class="btn btn-primary">Создать транзакцию</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>