<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit a Account</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<h1>Изменить счет</h1>
<a href="/person/personal-area">Начальная страница</a> |
<a href="/category/find-all-categories">Назад</a>
<br/><br/>

<#assign urlAction>${'/category/' + category.id + '/edit'}</#assign>
<#assign submitTitle>Изменить</#assign>

<form action="${urlAction}" name="category" method="POST">
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td>${category.id}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>:</td>
            <td><input type="text" name="title" value="${(category.title)!''}"/></td>
        </tr>
    </table>
    <input type="submit" value="${submitTitle}"/>
</form>

<br/>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>