<!DOCTYPE HTML>
<#import "/spring.ftl" as spring/>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Отчеты</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<a href="/person/personal-area">Начальная страница</a>
<br/><br/>

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <form action="/report/create-report" method="post" title="Даты отчета:">
                <div class="form-group">
                    <label for="inputStartDate">Начальная дата</label>
                    <@spring.formInput "form.startDate" "class=\"form-control\" id=\"inputStartDate\" placeholder=\"Enter start date - format yyyy-MM-dd HH:mm:ss\"" "startDate"/>
                    <@spring.showErrors "<br>"/>
                </div>
                <div class="form-group">
                    <label for="inputEndDate">Конечная дата</label>
                    <@spring.formInput "form.endDate" "class=\"form-control\" id=\"inputEndDate\" placeholder=\"Enter end date - format yyyy-MM-dd HH:mm:ss\"" "endDate"/>
                    <@spring.showErrors "<br>"/>
                </div>
                <button type="submit" class="btn btn-primary">Сформировать отчет</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>